/* header_start */
.conteiner {
    max-width: 1920px;
    width: 100%;
    margin: 0 auto;
}

header {
    width: 100%;
    max-width: inherit;
    width: inherit;
    position: fixed;
    top: 0;
    left: 50%;
    transform: translatex(-50%);
    padding: 50px 320px;
    display: flex;
    justify-content: space-between;
    background-color: #262626;
    z-index: 1;
}

.nav_header {
    width: 535px;
}

.ul_header {
    display: flex;
    justify-content: space-between;
}

.a_header {
    font-size: 24px;
    color: #FFFFFF;
    font-family: 'Work Sans';
}

.a_header1 {
    color: #DCB47A;
    font-size: 24px;
    font-family: 'Work Sans';
}

.a_icon {
    color: #FFFFFF;
    font-size: 32px;
}

/* <!-- header_end --> */


/* section1-start*/

.section1 {
    width: 100%;
    height: 1080px;
    position: relative;
    top: 130px;
}

.img_section1 {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

h1 {
    position: absolute;
    font-size: 82px;
    font-weight: 700;
    width: 1128px;
    text-align: center;
    color: #FFFFFF;
    font-family: 'Work Sans';
    top: 20%;
    left: 20%;
    transform: translate(-20% -20%);
}

.p_section1 {
    position: absolute;
    font-size: 24px;
    font-weight: 400;
    width: 583px;
    text-align: center;
    color: #FFFFFF;
    font-family: 'Work Sans';
    top: 53%;
    left: 35%;
    transform: translate(-53% -35%);
}

.div_searchbox {
    position: absolute;
    width: 463px;
    height: 71px;
    border: 1px solid #FFFFFF;
    border-radius: 50px;
    backdrop-filter: blur(10px);
    display: flex;
    align-items: center;
    top: 60%;
    left: 38%;
    transform: translate(-60% -38%);
}

.p_searchbox {
    font-size: 20px;
    color: #FFFFFF;
    font-weight: 400;
    margin-left: 30px;
    font-family: 'Work Sans';
}

.icon_searchbox {
    font-size: 25px;
    margin-left: 246px;
    padding: 10px;
    color: #FFFFFF;
    background-color: #525A55;
    border-radius: 50%;
}

/* section1-end */


/* section2-start */
.section2 {
    width: 70%;
    margin: 0 auto;
    margin: 245px 320px;
}

h2 {
    font-size: 75px;
    font-weight: 600;
    color: #081323;
    font-family: 'Work Sans';
    margin-bottom: 81px;
}

.cards {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.card {
    width: 390px;
    height: 388px;
    border: 2px solid #DCB47A;
    display: flex;
    flex-direction: column;
    padding: 30px 41px 30px 41px;
}

.img_card {
    width: 100%;
    height: 225px;
}

.p_card1 {
    margin-top: 54px;
}

.p_card2 {
    margin-top: 17px;
}

.img_card_icon {
    width: 19px;
    height: 19px;
}

/* section2-end */